@using Microsoft.AspNetCore.Identity.Data;
@model OmSaiModels.Worker.WorkerMobileNumbersModel

@{
    ViewData["Title"] = "WorkerMobileNumbers";
    Layout = "/Views/Shared/_Layout.cshtml";
    ViewData["AreaName"] = "Worker";
    ViewData["ControllerName"] = "WorkerMobileNumber";
    int serialNumber = 0;
}

@section css {
    <style>
        .btnEdit:hover {
            cursor: pointer;
        }
    </style>
}


<div class="app-content-header">
    <!--begin::Container-->
    <div class="container-fluid">
        <!--begin::Row-->
        <div class="row">
            <div class="col-sm-6">
                <h3 class="page-title">
                    WorkerMobileNumber
                    <button class="btn btn-sm btn-primary" id="btnShowForm">Add New</button>
                </h3>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-end">
                    <li class="breadcrumb-item"><a href="#">Master</a></li>
                    <li class="breadcrumb-item active" aria-current="page">
                        WorkerMobileNumber
                    </li>
                </ol>
            </div>
        </div> <!--end::Row-->
    </div> <!--end::Container-->
</div> <!--end::App Content Header--> <!--begin::App Content-->


<div class="app-content">
    <!--begin::Container-->
    <div class="container-fluid">
        <partial name="~/Views/shared/_alertpartial.cshtml" />
        <div class="row">


            <div class="col-lg-12 col-md-12 col-sm-12" id="leftCard">
                <div class="card">
                    <div class="table-responsive">
                        <table class="table card-table table-vcenter text-nowrap">
                            <thead>
                                <tr>
                                    <th class="w-1">No.</th>
                                    <th>WorkerId</th>
                                    <th>WorkerName</th>
                                    <th>MobileNumber</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in ViewBag.allData)
                                {
                                    serialNumber++;
                                    <tr class="align-middle">
                                        <td>@serialNumber</td>
                                        <td>@item.WorkerId</td>
                                        <td>@item.WorkerName</td>
                                        <td>@item.MobileNumber</td>
                                         <td>
                                            <nav class="nav justify-content-center flex-nowrap">
                                                <a class="nav-link badge shadow m-0 text-warning btn btnEdit"
                                                   data-id="@item.WorkerId"
                                                   data-name="@item.WorkerName"
                                                   data-name="@item.MobileNumber">
                                                    <i class="fe fe-edit"></i>
                                                </a>
                                                <a class="nav-link badge shadow m-0 text-danger btn btn-delete"
                                                   data-delete_id="@item.WorkerMobileNumberId"
                                                   data-delete_display="@item.WorkerId">

                                                    <i class="fe fe-trash"></i>
                                                </a>
                                            </nav>
                                        </td> 

                                    </tr>
                                }

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

             <div class="col-lg-4 col-md-4 col-sm-12" id="rightCard" style="display:none;">
                <div class="card card-warning card-outline mb-4 ">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <form id="WorkerMobileNumberForm" method="post" asp-area="Worker" asp-controller="WorkerMobileNumber" asp-action="Create"  >
                        <input type="hidden" asp-for="WorkerMobileNumberId" id="workerMobileNumberId" />
                        <div class="card-body">
                            <div class="mb-3">
                                <label asp-for="WorkerId" class="col-form-label">Worker Id</label>
                                <input type="text" class="form-control" asp-for="WorkerId" placeholder="Worker Id" required>
                            </div>

                           @*  <div class="mb-3">
                                <label asp-for="WorkerName" class="col-form-label">WorkerName </label>
                                <input type="text" class="form-control" asp-for="WorkerName" placeholder=" WorkerName" required>
                            </div> *@
                            <div class="mb-3">
                                <label asp-for="MobileNumber" class="col-form-label">Mobile Number</label>
                                <input type="text" class="form-control" asp-for="MobileNumber" placeholder="MobileNumber" required>
                            </div>
                            </div>
                                <div class="card-footer text-center">
                            <button type="submit" class="btn btn-outline-secondary" id="btnSubmit">Save</button>
                            <button type="button" class="btn btn-outline-warning" id="btnCloseForm">Cancel</button>
                        </div>
                    </form>
                </div>
            </div>
 

        </div>
    </div>
</div>


@section modals {
    <partial name="~/Views/shared/_DeleteModelPartial.cshtml" />
}

@section Scripts {
    <script>
        $('#btnShowForm').click(() => {
            $('#leftCard').removeClass("col-lg-12 col-md-12").addClass("col-lg-8 col-md-8");
            $('#rightCard').fadeIn();
            $('#btnShowForm').fadeOut();
            $('#btnSubmit').text("Save");

            $('#WorkerMobileNumberForm').attr('action', '/Worker/WorkerMobileNumber/Create');
            $('#WorkerMobileNumbersId').val("");
        });

        $('#btnCloseForm').click(() => {
            $('#leftCard').addClass("col-lg-12 col-md-12").removeClass("col-lg-8 col-md-8");
            $('#rightCard').fadeOut();
            $('#btnShowForm').fadeIn();
        });

        $('.btnEdit').click(function () {
            $('#leftCard').removeClass("col-lg-12 col-md-12").addClass("col-lg-8 col-md-8");
            $('#rightCard').fadeIn();
            $('#btnShowForm').fadeOut();
            $('#btnSubmit').text("Update");

            let data = $(this).data();
            $('#WorkerMobileNumbersId').val(data.id);
            $('#WorkerId').val(data.WorkerId);
            $('#MobileNumber').val(data.mobileNumber);
            
            $('#WorkerMobileNumberForm').attr('action', '/Worker/WorkerMobileNumber/Edit');
        });
        $('.btn-delete').click(function () {
            $('#leftCard').removeClass("col-lg-12 col-md-12").addClass("col-lg-8 col-md-8");
            $('#rightCard').fadeIn();
            $('#btnShowForm').fadeOut();
            $('#btnSubmit').text("Delete");

          let data = $(this).data();
            $('#WorkerMobileNumbersId').val(data.delete_id);
            $('#WorkerMobileNumberForm').attr('action', '/Worker/WorkerMobileNumber/Edit');
        });
    </script>
}
